@using Framework.Helpers
@using Framework.Solr.ViewModels
@model SolrBussinesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Search/Views/Shared/_LayoutSolr.cshtml";
}

<div class="">
    <h2>Solr Sample</h2>

    <form method="get" action=@Url.Action("Index")>
        <div>
            <input id="q" name="q" type="text" placeholder="Encontrar negocios" value="@Model.Search.FreeSearch" />
            <input id="qCountry" name="qCity" type="text" placeholder="Cerca de Buenos Aires?" value="@Model.Search.SearchCity" />
            <hr>
        </div>

        <div class="leftColumn">
            @foreach (var f in Model.Search.BreadCrumb)
            {
                <ul>
                    <li>
                        Selected
                        <ul>
                            <li><a class="removeFacet" href=@Url.RemoveFacet(f.Key)>@f.Value</a></li>
                        </ul>
                    </li>
                </ul>
            }


            <ul>
                @foreach (var f in Model.Facets)
                {
                    if ((Html.SolrFieldPropName<SolrBusiness>(f.Key) == "Attributes") || (Html.SolrFieldPropName<SolrBusiness>(f.Key) == "Rating"))
                    { 
                    <li>
                        @(Html.SolrFieldPropName<SolrBusiness>(f.Key))
                        <ul>
                            @foreach (var fv in f.Value.OrderBy(x => x.Key))
                            { 
                                <li>
                                    <input type="checkbox" id="@(Html.SolrFieldPropName<SolrBusiness>(f.Key) + '|' + fv.Key)" value="" onclick="businessesViewModel.clickCheckBox(this);" />&nbsp;&nbsp;<span>@fv.Key.ToSolrFacet()</span>
                                </li>
                            }
                        </ul>
                    </li>
                    }
                    else
                    {
                    <li>
                        Categories
                        <ul>
                            @foreach (var fv in f.Value.OrderBy(x => x.Key))
                            { 
                                <li>
                                    <input type="checkbox" id="@(Html.SolrFieldPropName<SolrBusiness>(f.Key) + '|' + fv.Key)" value="" onclick="businessesViewModel.clickCheckBox(this);" />&nbsp;&nbsp;<a href=@Url.SetFacet(f.Key, fv.Key)>@fv.Key.ToSolrFacet()</a> <span>(@fv.Value)</span>
                                </li>
                            }
                        </ul>
                    </li>
                    }
                }
            </ul>

        </div>

        <div class="rightColumn" style="width: 77%">
            <table style="width: 100%">
                <thead>
                    <tr>
                        <th style="text-align: left">ID</th>
                        <th style="text-align: left">Business</th>
                        <th style="text-align: left">City</th>
                        <th style="text-align: left">Attributes</th>
                        <th style="text-align: left">Categories</th>
                        <th style="text-align: left">Rating</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: businesses">
                    <tr>
                        <td>
                            <span data-bind="text: id"></span>
                        </td>
                        <td>
                            <span data-bind="text: name"></span>
                        </td>
                        <td>
                            <span data-bind="text: city"></span>
                        </td>
                        <td>
                            <ul data-bind="foreach: attributes">
                                <li data-bind="text: $data"></li>
                            </ul>
                        </td>
                        <td>
                          <span data-bind="text: categories"></span>

                        </td>
                        <td>
                            <span data-bind="text: rating"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <button type="submit" class="btn btn-primary btn-large">Search</button>

            @Html.ActionLink("Reset", "Index")

        </div>

    </form>

</div>


<script>

    $(document).ready(function () {

    });

</script>

<script src="~/Areas/BackOffice/Views/../../../Scripts/ViewModels/SolrViewModel.js"></script>

